<!DOCTYPE html>
<html>
  <head>
    <title>Syntaxtical</title>
    <link href="<%= url("/css/bootstrap.css") %>" rel="stylesheet" type="text/css">
    <link href="<%= url("/css/app.css") %>" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>

    <script src="<%= url("/js/jquery.js") %>"></script>
    <script src="<%= url("/js/app.js") %>"></script>
  </body>
</html>
